header#header-mylist(data-role="header" data-position="fixed" data-theme="a")
	h1 Eats!

	if url=="details"
		a(href="#{baseURL}" data-icon="arrow-l" data-wrapperels="span").ui-btn-left.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-icon-left.ui-btn-up-a
			span.ui-btn-inner
				span.ui-btn-text Back
				span.ui-icon.ui-icon-arrow-l.ui-icon-shadow &nbsp;