doctype html
html
	head
		block head
			block title
				title Eats!
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
				meta(name='viewport', content="width=device-width")
			- var baseURL = "/"
			link(rel='stylesheet', href='#{baseURL}css/font-awesome.min.css')
			link(rel='stylesheet' href='#{baseURL}css/font/roboto-regular.css')
			link(rel='stylesheet', href='https://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css')
			link(rel='stylesheet', href='#{baseURL}css/eats.css')
			script(src='https://code.jquery.com/jquery-1.9.1.min.js')
			script(src='https://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js')
			script(src='http://maps.google.com/maps/api/js?sensor=true')
			script(src='#{baseURL}js/main.js')
	body
		div#page-wrapper
			block content